

header div p {
  color: #2121d5;
}

header div p {
  position: absolute;
  top: 2px;
  left: 10px;
}

header div nav ul {
  text-align: right;

}

header div nav ul {
  margin: 10px;
  padding: 10px;
}

header div nav ul a {
  text-decoration-line: none;
  list-style: none;
  display: inline;
  width: auto;
  margin: 10px 10px;
}
header div nav ul li a {
  text-decoration: none;
}


header div nav ul li {
  display: inline;
  justify-content: space-between;
}


div nav ul li {
  position: relative;
}

img {
  width: 100%;
  height: auto;
  max-width: 700px;
  display: block;
  position: absolute;
  right: 0px;
}


h1 {
  position: relative;
  top: 282px;
  left: 0px;
  width: 200px;
  height: 300px;
  left: 0px;
}

section {
  margin:0px 0px 0px 0px;
  width: 900px;
  height: 200px;
  left:  0px;
  background-color: #000074;
}

