

header div p {
    color: #000074;
}
header div nav {
  text-align: right;

}

header div nav ul {
  margin: 10;
  padding: 0;
}

header div nav ul li {
  text-decoration-line:  none;
  list-style: none;
  display: inline;
  width: auto;
  margin: 0 10px;
}
header div nav ul li a {
  text-decoration: none;
}


.header {
  display: flex;
  justify-content: space-between;
}


.imgbox {
  position: relative;
}

img {
  width: 100%;
  height: auto;
  max-width: 700px;
  display: block;
  position: absolute;
  right: 0px;
}


h1 {
  
  position: relative;
  top: 282px;
  left: 0px;
  width: 200px;
  height: 300px;
  left: 0px;
}

section {
  margin:0px 0px 0px 0px;
  width: 900px;
  height: 200px;
  left:  0px;
  background-color: #000074;
}

